@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

 :root {
    --cor-de-fundo: #55a42d;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #00c234;
    --botao-inativo: rgba(4, 188, 114, 0.5);
    --texto-fundo: rgba(180, 249, 225, 0.3);
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Chakra Petch', sans-serif;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--botao-ativo);
    border-left: 1px solid var(--botao-ativo);
    border-right: 1px solid var(--botao-ativo);
    border-top: 4px solid var(--botao-ativo);
}

.botao:first-child {
    border-radius: 10px 10px 0 0;
}

.botoes {
    display: block;
}

.botao.ativo { background-color: var(--botao-ativo);
    border-bottom: 2px solid var(--verde);
}

.abas-textos{
    background-color:var(--texto-fundo);
    padding: 1em;
    border-radius: 0 0 10px 10px ;
}

.aba-conteudo.ativo{
    display:block;
}

.aba-conteudo{
    display: none;
}

@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 10px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 20px 0 0;
    }
}